#name {
    background-color: lightblue;
}

#self-introduction {
    font-size: 1.2rem;
}

.hobby {
    font-size: 1.1rem;
}

#drawing {
    color: rgb(119, 70, 255);
}

#anime {
    color: rgb(75, 123, 255);
}

#plush {
    color: rgb(68, 226, 176);
}